// Define variables for your color scheme

// 3 main Colors:
$purple: #9B3993;
$red: #FA222A;
$orange: #FA9B4A;

$darkorange: #FF531D;

// police
$darkbeton: #47495B;
$beton: #6A7C94;

// secondary Colors:
$green: #47E4C2;
$blue: #26AFA1;
$gray: #000000;
$light-gray: #F4F4F4;

// tags colors
$yellow: yellow;
$pink: #D741A7;
$tiphany: #17BEbb;
$frog: #7FB414;

// tags colors from linear gradient
$purple: #9B3993;
$red: #FA222A;
$orange: #FA9B4A;


