// 2 main colors:
$st-patricks-blue: #1a2980;
$medium-turquoise: #26d0ce;

// secondary color:
$paradise-pink: #f0386b;

// font
$darkbeton: #47495B;
$beton: #6A7C94;

// tags colors
// $yellow: yellow;
// $pink: #D741A7;
// $tiphany: #17BEbb;
// $frog: #7FB414;
