<h1>Hi <%= @user.name %>,</h1>

<p>
  <%= @greeting %>, thanks for your upvote!
  We will notify you on <%= @choogle.due_at %> with the selected place for your event.
</p>

<div class="choogle-infos-invite">
  <div class="invite-link">
    <p>Share this link with other participants so they can upvote their favorite places</p>
    <div class="input-group">
      <input id='link' type="text" class="form-control" placeholder="http://choogle.xyz/<%= @choogle.slug %>" readonly="readonly">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Share</button>
      </span>
    </div>
  </div>
</div>
