<li class="media-comment">
   <%= image_tag(comment.user.facebook_picture_url, alt: comment.user.first_name, class: "avatar") %>
  <div class="media-body">
    <p class="media-heading"><%= comment.user.first_name %>
      <small class="text-muted">at <%= comment.created_at.strftime('%-d %B %Y, %H:%M:%S') %></small></p>
    <div class='text-area'><%= comment.content %></div>
  </div>
</li>
