<li class="media-comment">
   <%= image_tag(comment.user.facebook_picture_url, alt: comment.user.first_name, class: "avatar") %>
  <div class="media-body">
    <p class="media-heading"><%= comment.user.first_name %>
    <div class='text-area'><%= comment.content %></div>
    <small class="text-muted"> <%= comment.created_at.strftime("%^a %H:%M %p") %></small></p>
  </div>
</li>
