.wrapper-result {
  background: #26d0ce;
  background: -webkit-linear-gradient(to right, #1a2980, #26d0ce);
  background: linear-gradient(to right, #1a2980, #26d0ce);
  align-items: center;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  height:auto;
  width:auto;
  height: 90vh;
}

.choogle-result  {
  margin: 70px 0 30px 0;
  h1 {
    color: white !important;
  }
  p {
    color: white !important;
  }
}

.result-info {
  h2 {
    margin: 0 0 2px 0;
  }
  h4 {
    font-size: 15px;
    color: $darkbeton;
  }
  p {
  font-weight: lighter;
  color: #6A7C94;
  }
}

.result-content {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}

.result-tags {
  margin-top: 10px;
}

// map
.result-map {
  flex-shrink: 0;
  width: auto;
  height: 35vh;
  position: sticky !important;
  top: 0 !important;
  margin-top: 15px;
  border: 8px solid white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#star-rating-good {
color: yellow;
};

#star-rating-bad {
color: $beton;
}

// .res {
//   flex-shrink: 0;
//   width: 40%;
//   height: 100vh;
//   position: sticky !important;
//   top: 0 !important;
//   margin: 20px;
// }
