.main-wrapper {
  min-height: calc(100vh - 70px);
}
.headlines {
  margin: 200px 0 50px 0;
  padding: 20px 20px 175px 20px;
}
.headline {
  display: flex;
  padding: 20px;
  h2 {
    margin-top: 5px;
  }
}
.headline-text {
  margin-left: 20px;
  h3 {
    margin-top: 0px;
    color: white;
  }
  p {
    text-align: left;
    color: white;
  }
}

#choogle-errors p {
  color: $paradise-pink;
  font-size: 15px;
  margin: 2px;
}
#proposal-errors {
  color: $paradise-pink;
}

.rules {
  display: flex;
  text-align: center;
  padding: 10px;
  justify-content: space-around;
}
