.doodle {
    position: absolute;
    display: flex;
    width: 600px;
    height: auto;
    bottom: -190px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 15px 15px 26px 4px rgba(0, 0, 0, 0.2);
}

.wrapper-doodle {
  height: 265px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  background-color: white;
}

// Wrapper to display "How it works"
.wrapper-features {
  background-color: white;
  padding: 10px;
}
.features {
  display: flex;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-around;
}
.wrapper-features h2 {
  margin: 15px 0px;
  color: #47495B;
}
.features h3 {
  margin: 15px 0;
  color: #47495B;
}

.features h6 {
  margin: 0px;
  font-size: 40px;
}

.features p {
  color: #6A7C94;
}
// .rules p {
//   margin-bottom: 0;
// }
.feature {
  padding: 15px;
  width: 30%;
  border-radius: 10px;
  padding-top: 15px;
  background: white;
}

// Wrapper to explain "why Choogle"
.wrapper-rules {
  background: $red;
  background: -webkit-linear-gradient(to right, #fcb045 , #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045 , #fd1d1d, #833ab4);
  padding: 10px;
  color: white;
  padding: 20px;
}
.wrapper-rules h2 {
  margin: 15px 0;
}
.rules {
  display: flex;
  text-align: center;
  padding: 10px;
  justify-content: space-around;
}
