.wrapper.page-forms {
display: flex;
flex: 1;
position: relative;
}

.custom-edit-form {
  padding-top: 80px;
  color: white;
    h2 {
      color: white;
    }
}

.btn-registration {
  margin-top: 30px;
}
