.wrapper {
  background: $purple;
  background: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  // TODO : add transparency/opacity on linear gradient
  // background: linear-gradient(to right, transparent, #833ab4, #fcb045, #fd1d1d);
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
.container {
  max-width: 1000px;
}
.event {
  height: 260px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  h1 {
    color: white;
  }
  p {
    color: white;
  }
}
.event-infos {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.choogle-infos {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  transition: all 0.15s ease;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  p {
    margin-bottom: 10px;
  }
}
.choogle-infos-timer {
  text-align: center;
  margin: 20px;
  width: 50%;
}
.choogle-infos-link {
  text-align: center;
  width: 500px;
  margin: 20px;
  width: 50%;
}
.choogle-infos-link a:hover {
  color: $purple;
}
.input-group {
  display: flex;
  justify-content: center;
}

.input-choogle {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid $purple; 
  margin-right: 3px;
}

.main-proposals {
  display: flex;
  justify-content: flex-end;
}
.proposals {
  flex-grow: 1;
}
.map-container {
  flex-shrink: 0;
  width: 40%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  margin: 20px;
  border: 8px solid white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
#map {
  width: 100%;
  height: 100%;
}

// .choogle-container {
//   width: 70%;
// }
// @media (max-width: 768px) {
//   .choogle-container {
//     width: 100%;
//   }
//   .proposal {
//     margin-right: 20px;
//   }
// }

// This bit of css is used to force the autocomplete window to be "in front of"
// the modal
.pac-container {
    z-index: 1051 !important;
}


