.main-container {
  display: flex;
}

.choogle-container {
  width: 70%;
}

#map {
  flex-shrink: 0;
  width: 30%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  margin: 20px;
}

