.wrapper {
  background: $paradise-pink;
  background: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  // TODO : add transparency/opacity on linear gradient
  // background: linear-gradient(to right, transparent, #833ab4, #fcb045, #fd1d1d);
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
.container {
  max-width: 1000px;
}
.event {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  h1 {
    color: white;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    color: white;
  }
}
.event-infos {
  text-align: center;
  padding: 20px;
  margin: 50px 0px 20px 0px;
}

.choogle-infos {
  // display: flex;
  // align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 4px;
  transition: all 0.15s ease;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  p {
    margin-bottom: 20px;
  }
}
.choogle-infos-timer {
  text-align: center;
  margin: 20px;
  // width: 50%;
}
.choogle-infos-link {
  text-align: center;
  // width: 500px;
  margin: 20px;
  // width: 50%;
}
.choogle-infos-link a:hover {
  color: $paradise-pink;
}
.input-group {
  display: flex;
  justify-content: center;
}

.input-choogle {
  padding: 6px 12px;
  border-radius: 4px !important;
  border: 1px solid $paradise-pink;
  margin-right: 3px;
}

// .choogle-container {
//   width: 70%;
// }
// @media (max-width: 768px) {
//   .choogle-container {
//     width: 100%;
//   }
//   .proposal {
//     margin-right: 20px;
//   }
// }

// This bit of css is used to force the autocomplete window to be "in front of"
// the modal
.pac-container {
    z-index: 1051 !important;
}

#clockdiv > div{
  display: inline-block;
  text-align: center;
  width: 90px;
}

#clockdiv div > span{
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  margin: 0px;
  color: $beton;
}

.smalltext{
  font-size: 15px;
  font-weight: 400;
  margin: 0px;
  color: $beton;
}

.timer-hour {
  border-right: 1px solid $beton;
  border-left: 1px solid $beton;
}

.timer-minute {
  border-right: 1px solid $beton;
}

@media (max-width: 415px) {

  #clockdiv > div{
  width: 50px;
  }

  #clockdiv div > span{
    font-size: 11px;
  }

  .smalltext{
    font-size: 11px;
  }

}
