h1 {
  font-family: Lato;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $darkbeton;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  color: $darkbeton;
}
h3 {
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $darkbeton;
}
p {
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $beton;
}
body {
  margin: 0;
  padding: 0;
  background: white;
}
