<div class="modal fade" id="first-name-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= simple_form_for current_or_guest_user, url: create_registration_path, remote: true do |f| %>

        <h1 class="text-center">Who are you?</h1>
            <%= f.input :first_name, label: "To upvote this, let your friends know who you are", placeholder: "Your name", input_html: {value: nil}, required: true, autofocus: true %>

          <%= hidden_field_tag(:proposal_id, proposal_id) %>


          <%= f.button :submit, "Add your name", class: "btn btn-choogle btn-proposal-margin", name: "upvote"  %>
        <% end %>

      </div>
    </div>
  </div>
</div>
