<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/clement-bergantz/CHOOGLE" target="blank"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/choogle_xyz" target="blank"><i class="fa fa-twitter"></i></a>
  </div>
</div>
