<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright" style="color:  lightgrey; font-size: 14px">
    This Chooglely service is made for you with <i class="fa fa-heart"></i> contact us to chit-chat !
  </div>
</div>
