<div class="main-wrapper">

  <div class="head">
    <div class="head-content">
      <h1>Where are<br>we going next ?</h1>
      <h4>Choogle is the easiest way to collectivly choose a bar, a restaurant, an holiday destination or any other place</h4>
    </div>
  </div>

  <div class="master-head">
    <div class="form-home">
      <div class="form-home-content">
        <%= render "choogles/form" %>
        <%= render "proposals/modal" %>
      </div>
    </div>
    <div class="headlines">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="headline">
              <h2>🙋</h2>
              <div class="headline-text">
                <h3>Make a collective decision</h3>
                <p>Share your poll with your friends. They can add new places and vote for their favorites. No account needed.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="headline">
                <h2>⏰</h2>
                <div class="headline-text">
                  <h3>Stop losing time on long group decision making</h3>
                  <p>Set a deadline for your poll and the most upvoted place is automatically choosen.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="use-case hidden-xs">
    <h3>Some places choosen with Choogle</h3>
    <div class="container">
      <div id="slider" class="carousel slide col-xs-8  padd-lt0" data-ride="carousel" data-interval="10000" data-pause="hover">
        <div class="carousel-inner">
          <div class="item active">
              <img alt="First slide"4 src="assets/festival.jpg" >   
          </div>
          <div class="item">
              <img alt="Second slide" src="assets/afterwork.jpg">  
          </div>
          <div class="item">
              <img alt="Third slide" src="assets/weekend.jpg">
          </div>
        </div>
      </div>

      <div id="slider_captions" class="col-xs-4">
        <div>
          <div id="caption-0" class="carousel-caption">
              <h2>Liverpool International Music Festival 2017, Liverpool</h2>
              <div class="tag">
                <h5 class="tags">free</h5><h5 class="tags">outdoors</h5><h5 class="tags">sefton park</h5><h5 class="tags">Gorgon City</h5><h5 class="tags">Corinne Bailey Rae</h5><h5 class="tags">So Solid Crew</h5><h5 class="tags">Rock</h5>
              </div>
              <p>Upvoted by Amelia, Oliver, Jack, George, Ava, Henry, Emily and Jacob.</p>
              <p>Proposed by Ava for the <strong>Annual festival trip.</strong></p>

          </div>
          <div id="caption-1" class="carousel-caption">
              <h2>Rosa Bonheur, Parc des Buttes Chaumont, Paris</h2>
              <div class="tag">
                <h5 class="tags">guinguette</h5><h5 class="tags">metro 7</h5><h5 class="tags">metro 11</h5><h5 class="tags">belleville</h5><h5 class="tags">outdoor</h5><h5 class="tags">rosé</h5><h5 class="tags">tapas</h5><h5 class="tags">pizza</h5>
              </div>
              <p>Upvoted by Lisa, Romain, Eliott, Simon, Marie, Vincent, Tatiana and Sylvain.</p>
              <p>Proposed by Lisa for the <strong>Afterwork drink.</strong></p>
          </div>
          <div id="caption-2" class="carousel-caption">
              <h2>Letchworth state park, New York</h2>
              <div class="tag">
                <h5 class="tags">NY</h5><h5 class="tags">point of view</h5><h5 class="tags">waterfalls</h5><h5 class="tags">hiking</h5><h5 class="tags">
                camping</h5><h5 class="tags">nature</h5>
              </div>
              <p>Upvoted by Joshua, Andrew, William and Aydan.</p>
              <p>Proposed by Andrew for the <strong>Summer weekend with friends.</strong></p>
          </div>
        </div>
        <!-- This below is used to let user control previous or next use-case -->
<!--         <a data-slide="prev" role="button" href="#slider" class="left carousel-control"><span class="glyphicon glyphicon-chevron-down"></span></a>
        <a data-slide="next" role="button" href="#slider" class="right carousel-control"><span class="glyphicon glyphicon-chevron-up"></span></a> -->
      </div>
    </div>
  </div>

</div>

<!-- Loading Google Places for Autocomplete on New Proposal Modal Form -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= ENV['GOOGLE_API_BROWSER_KEY']%>"></script>

<!-- Loading for the Bootstrap carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      // JS script for Date Picker, the Hash is for options, look at the doc
      $(".flatpickr-input").flatpickr({
        enableTime: true,
        time_24hr: false,
        minuteIncrement: 15,
        minDate: "today"
      });
      // JS script for the Carousel
      $("#slider").on('slide.bs.carousel', function(evt) {
         var step = $(evt.relatedTarget).index();
         $('#slider_captions .carousel-caption:not(#caption-'+step+')').fadeOut('slow', function() {
            $('#caption-'+step).fadeIn();
         });
      });
    });
  </script>
<% end %>
