<div class="modal fade" id="newProposalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Suggest a new place</h1>
        <div id="proposal-form"></div>
      </div>
    </div>
  </div>
</div>
