$("#proposal-errors").empty()

<% @proposal.errors.full_messages.each do |error| %>
  $("#proposal-errors").append('<p>' + '<%= error %>' + '</p>')
<% end %>

$(".loader").hide()
$(".form-proposal").find(".btn").show()
