/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  display: inline-block;
  min-width: 360px;
  position: absolute;
  top: 81px;
  right: 48px;
  transition: .5s ease;

    @include mq($until: tablet) {
      max-width: 280px;
      right: 0;
      left: 0;
      margin: 0 auto;
      min-width: 0;
    }
}
.alert-info {
  background: $paradise-pink;
  border-color: $paradise-pink;
}
.alert-warning {
  background: $paradise-pink;
}

.alert-danger {
  background-color: transparent !important;
}
