.banner {
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: inline-block;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.banner-content {
  margin: 80px 0 80px 0;
}
.banner-head {
  padding: 20px;
  margin-bottom: 30px;
}
