.banner {
  color: white;
  text-align: center;
  height: 65vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: table;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.banner h1 {

  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content {
  margin-top: 120px;
}
