// button over white background
.btn-primary {
  background-color: $paradise-pink;
  color: white;
  font-weight: normal;
  border: none !important;
}
.btn-choogle-secondary:hover {
  background-color: white;
  color: $paradise-pink;
  font-weight: normal;
  border-color: $paradise-pink;
}

// button over gradient background
.btn-choogle {
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: 1px solid;
  border-radius: 6px;
  width: 100%;
}
.btn-choogle:hover {
  background-color: white;
  color: $paradise-pink;
  border: none;
  font-size: 17px;
  box-shadow: 18px 11px 38px -15px black;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
  background-color: white;
  color: $paradise-pink;
  border: none;
}


