#chatroom {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  margin: 20px;
  margin-right: 0px;
  background-color: white;
  justify-content: center;
}
.proposal-empty h3 {
  color: lightgrey;
  text-decoration: none;
}

.proposal-empty:hover {
  background: #FFCAC9;
  color: white;
  cursor: pointer;
  // transform: scale(1.1);
}
.proposal-empty:hover h3 {
  color: white;
}
