#chatroom {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  background-color: white;
  justify-content: center;
  #comments {
    overflow: auto;
    width: 500px;
    margin: 40px 0 20px 0;
  }
}
.media-list {
  margin-bottom: 50px;
  height: 300px;
  overflow-y:scroll;
}
.media-list .avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.media-heading {
  font-size: 13px;
  font-weight: 300;
}
.media-comment {
  display: flex;
  margin-bottom: 30px;
  align-items: flex-end;
}
.media-body {
  margin-left: 20px;
}
.text-muted {
  font-size: 10px;
  font-weight: 300;
  margin-left: 10px;
}
.text-area {
  background-color: #F5F5F5;
  padding: 6px 12px;
  border-radius: 4px;
  display: inline-block;
  color: $darkbeton;
}
.proposal-empty h3 {
  color: lightgrey;
  text-decoration: none;
}

.proposal-empty:hover {
  background: #FFCAC9;
  color: white;
  cursor: pointer;
  // transform: scale(1.1);
}
.proposal-empty:hover h3 {
  color: white;
}
