.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding: 0px 30px;
  color: rgba(0,0,0,0.3);
  background: $st-patricks-blue;
  background: linear-gradient(to right, $st-patricks-blue, $medium-turquoise);
  p {
    color: white;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  font-weight: lighter;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $isabellina;
}
.footer .fa-heart {
  color: white;
}
