.form-control {
  color: $darkbeton !important;
}
.form-home {
  padding: 20px;
}
.form-date-element {
  height: 35px !important;
  background-color: white !important;
}

.btn-margin {
  margin-top: 31px;
}

// force the autocomplete window to be "in front of the modal
.pac-container {
  z-index: 1051 !important;
}

// flatpikr
.flatpickr-month {
  background-color: $paradise-pink;
}
.flatpickr-weekday {
  color: white !important;
  background: $paradise-pink !important;
}
.flatpickr-weekdays {
  background-color: $paradise-pink;
}
.flatpickr-day.selected {
  background: $paradise-pink;
  border: none;
}

.flatpickr-day.selected:hover {
  background: $paradise-pink;
  border: none;
}
