.form-control {
  color: $darkbeton !important;
}

.date-form {
  width: 600px;
  margin: auto;
 label {
    display: table !important;
    margin-bottom: 10px;
  }
}

.form-date-element {
  height: 35px !important;
  background-color: white !important;
}

.btn-margin {
  margin-top: 31px;
}

// force the autocomplete window to be "in front of the modal
.pac-container {
  z-index: 1051 !important;
}

// flatpikr
.flatpickr-month {
  background-color: $purple;
}
.flatpickr-weekday {
  color: white !important;
  background: $purple !important;
}
.flatpickr-weekdays {
  background-color: $purple;
}
.flatpickr-day.selected {
  background: $purple;
  border: none;
}

.flatpickr-day.selected:hover {
  background: $purple;
  border: none;
}
