.form-home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}
.form-home-content {
  max-width: 1030px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 15px 30px;
}
.form-home-input {
  height: 44px !important;
  color: $darkbeton;
}
.textarea {
  padding-top: 11px;
}
.small-padding {
  padding-left: 5px;
  padding-right: 5px;
}

// force the autocomplete window to be "in front of the modal
.pac-container {
  z-index: 1051 !important;
}

// flatpikr
.flatpickr-month {
  background-color: $paradise-pink;
}
.flatpickr-weekday {
  color: white !important;
  background: $paradise-pink !important;
}
.flatpickr-weekdays {
  background-color: $paradise-pink;
}
.flatpickr-day.selected {
  background: $paradise-pink;
  border: none;
}

.flatpickr-day.selected:hover {
  background: $paradise-pink;
  border: none;
}
