.master-head {
  padding-top: 200px;
  background: url(bg-wave.svg) no-repeat bottom;
  background-size: cover;
}
.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.head-content {
  width: 550px;
  h1 {
    font-size: 60px;
    margin: 30px;
  }
  p {
    margin: 20px;
  }
}