
.modal-content {
  border-radius: 15px;
  background: linear-gradient(to right, #833ab4, #fd1d1d);
  border: none;
  padding: 20px;
  color: white;
}

.modal-content h1 {
  margin-bottom: 45px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.btn-proposal-margin {
  margin-top: 22px;
}

.modal-content label {
  margin-top: 4px;
  display: table !important;
  margin-bottom: 10px;
}

.select2-container--bootstrap .select2-selection {
  height: 39px !important;
  font-size: 18px !important;
  border-radius: 6px !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
  margin-top: 3px;
}
// .help-block {
//   position: absolute;
// }

// .setup1-windows {
//   margin-bottom: 50px;
// }

// .wrapper {
//   width: 100%;
//   height: 100vh;
//   text-align: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .wrapper-form {
//   background-color: $orange;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   height: 500px;
//   margin: 1rem;
//   width: 500px;
//   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// }
