.main-proposals {
  display: flex;
  justify-content: flex-end;
}
.proposals {
  width: 100%,
}
.map-container {
  // flex-shrink: 0;
  width: 40%;
  min-height: 70vh;
  max-height: 100vh;
  position: sticky !important;
  top: 0 !important;
  margin: 20px 0 20px 20px;
  border: 8px solid white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
#map {
  width: 100%;
  height: 100%;
}
.proposal {
  transition: all 0.15s ease;
  padding: 20px 0 0 0;
}
.proposal-wrapper {
  display: flex;
  align-items: center;
  padding: 18px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.proposal-content {
  margin-left: 10px;
}
/* Body design */
.proposal-body {
  flex: 1 1 auto;
  margin-bottom: 6px;
}
.proposal-body h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
}
.proposal-body p {
  font-weight: lighter;
  color: $beton;
}

/* Proposal image */
.proposal-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Upvote design */
.proposal-upvote {
  padding-left: 15px;
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: $darkbeton;
  text-decoration: none;
}
.proposal-count {
  margin: 2px 0 0;
}
.proposal-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid $darkbeton;;
  border-radius: 2px;
  margin: auto;
}

/* Controls design */
.proposal-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.proposal-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.proposal-controls a:hover {
  color: #FF504D !important;
}
.proposal-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.proposal-wrapper:hover {
  cursor: pointer;
  opacity: 0.75;
  box-shadow: none;
  // border: 0.5px solid white;
}
.proposal-upvote:hover, .proposal-upvote.proposal-upvote-upvoted {
  color: $red;
  cursor: pointer;
}
.proposal-upvote-upvoted .proposal-arrow {
  border-bottom-color: #FF504D;
}
.proposal:hover .proposal-upvote {
  transform: scale(1.1)
}
.proposal:hover .proposal-controls-hidden a {
  color: #E6E6E6;
}
.proposal-upvote:hover .proposal-arrow {
  border-bottom: 9px solid #FF504D;
}

/* Empty proposal */
.proposal-empty {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  margin: 20px;
  background-color: white;
  justify-content: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.proposal-empty h3 {
  color: lightgrey;
  text-decoration: none;
}

.proposal-empty:hover {
  background: #FFCAC9;
  color: white;
  cursor: pointer;
  // transform: scale(1.1);
}
.proposal-empty:hover h3 {
  color: white;
}
#link-add {
  text-decoration: none;
}

.select2-container {
  width: 100% !important;
}

.select2-search__field {
  width: 100% !important;
}

.select2-search {
  width: 100% !important;
}
.btn-proposal {
  right: 0px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: 1px solid;
  border-radius: 6px;
  margin-top: 20px;
}
.add-a-place {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.btn-proposal:hover {
  background-color: white;
  color: $purple;
  border: 1px solid white;
}

.strike {
  color: #A62D8D;
}

.strike .proposal-arrow {
  color: #A62D8D;
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid #A62D8D;
  border-radius: 2px;
  margin: auto;
}

.upvote:hover {
  text-decoration: none;
}

.upvote:focus {
  text-decoration: none;
}
// .proposal-btn {
//   background-color: transparent;
//   height: 40px;
//   width: 140px;
//   font-weight: bold;
//   border: 2px solid white;
//   border-radius: 4px;
//   margin-top: 20px;
//   padding: 8px;
//   text-align: center;
//   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
//   a {
//     color: white;
//   }
// }
// .proposal-btn:hover {
//   background-color: white;
//   border: none;
//   a {
//     color: $purple;
//   }
// }
