.tags {
  color: white;
  border-radius: 3px;
  /*Background color in show page directly linked with the color in the DB*/
  /*background-color: purple;*/
  padding: 3px 10px;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  display: inline;
}
