.use-case {
	display: flex;
	flex-direction: column;
	padding: 100px 0px 100px 0px;
	h3 {
		text-align: center;
		margin-bottom: 120px;
	}
}
.slider-container {
	margin-top:35px;
	height:100%;
}
.carousel {
  border-radius: 4px;
  padding: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: $isabellina;
}
.carousel-caption {
	position: absolute;
	top: -30px;
	text-align: left;
	left: 30px;
	right: inherit;
	width: auto;
  color: #000;
  bottom: -110px;
  text-shadow: none;
  h2 {
  	text-align: left;
  	color: $darkbeton;
  }
	p {
		text-align: left;
		color: $beton;
	}
}
.carousel-caption:not(#caption-0) {
    display: none;
}
.carousel-caption:not(#caption-0) {
    display: none;
}
.carousel-control {
    background: none repeat scroll 0 0 #000 !important;
    bottom: 0;
    color: #fff;
    font-size: 20px;
    height: 75px;
    opacity: 0.5;
    padding: 20px !important;
    position: static !important;
    right: 108px !important;
    text-align: left;
    top: 296px;
    width: 100px;
    z-index: 9999;
}
.item {
  img {
    border-radius: 4px;
  }
}
.tag {
  margin: 10px 0px 10px 0px;
}
.tags {
  background-color: red;
  margin-right: 5px;
}