// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "components/_flatpickr.css";
@import "flatpickr/components/_flatpickr.css";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
