<div class="wrapper">
  <div class="container">
    <div class="setup1-windows">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <div class="wrapper-form">
          <h1>Create your <u>Choogle !</u></h1>
            <%= render "choogles/form"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
