<% content_for :meta_title, "#{@choogle.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% #content_for :meta_description, @offer.description %>
<% #content_for :meta_image, cloudinary_url(@offer.photo.path) %>
<div id="render-choogle">
  <% if @choogle.due_at > Time.zone.now %>
    <%= render 'choogle_show' %>
  <% else %>
    <%= render 'choogle_result' %>
  <% end %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= ENV['GOOGLE_API_BROWSER_KEY']%>"></script>
